.theme-light {
    --background-color: #f0f0f0;
    --text-color: #202020;
    --sidebar-background: #ffffff;
    --sidebar-width: 360px;
    --text-color: #333;
    --menu-icon-size: 30px;
    --shadow: black;
}

:root {
    --main-bg-color: #ffffff;
    --primary-color: #88a996;
    --button-color: #5e89c7;
    --text-color: #000000;
    --carousel-item-bg: #d3d3d3;
}


.theme-dark {
    --background-color: #202020;
    --text-color: #f0f0f0;
    --sidebar-background: #141414;
    --sidebar-width: 360px;
    --menu-icon-size: 30px;
    --shadow: rgb(59, 59, 59);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.menu-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: var(--menu-icon-size);
    cursor: pointer;
    z-index: 1000;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: var(--sidebar-background);
    height: 100vh;
    position: fixed;
    top: 0;
    right: -400px;
    transition: right 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    position: absolute;
    top: 10px;
    left: 40px;

}


.profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.sidebar h2 {
    text-align: center;
    font-size: 50px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
}

.social-icons {
    margin: 2em 0;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--text-color);
}

.social-icons svg {
    width: 40px;
    height: 40px;
    fill: var(--text-color);
}

.sidebar.open {
    right: 0;
}

.content {
    padding: 40px;
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.contact-section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

header h1{
    font-size: 45px;
    background-color: #5e89c7;
    text-align: center;
    border-radius: 30px;
}


.contact-btn {
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
}

.info-item {
    flex: 1;
    margin: 0 10px;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form iframe{
    max-width: 100%;
}

form {
    background-color: var(--form-bg-color);

    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-top: 10vh;
    margin-left: 5%;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

form input, form textarea {
    width: 98%;
    padding: 2%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Responsivo */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }



    .contact-form {
        width: 100%;
        flex-direction: column;


    }
}


.footer {
    margin-top: 40px;

    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer .contact-info {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
}

#theme-toggle {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 28px;
}

@media (max-width: 768px) {
    .menu-icon {
        font-size: 24px;
    }


    .footer .contact-info {
        flex-direction: column;
    }
}